# Final Verification:
The one who provided you the client id and client secret, he will have the Login Email and Password for the Falcon Portal. If you have also ‘us-2’ region then the URL for the Falcon Portal will be:

https://falcon.us-2.crowdstrike.com/login/

